<%= form_with model: @training_plan, class: "form-training-plan" do |form| %>
  <div class="training-plan-header">
    <label class="training-plan-label">Training Plan Description:</label>
    <%= form.text_field :description, value: @training_plan.description %>
  </div>  
  <ul class="list-group" data-controller="training-plans">
    <%= form.fields_for :training_schedules do |schedule_subform| %>
      <% (0..6).each do |day|%>
        <li class="list-group-item itens-weekday">
          <div class="weekday-title">
            <span class="col-md-12 weekday-name"><%= Date::DAYS_INTO_WEEK.keys[day].to_s.capitalize %></span>
            <%= button_tag(
              type: 'button', 
              class: "btn btn-primary add-exercise-button",
              id: "#{day}",
              data: { action: "click->training-plans#setCurrentWeekDay", bs_toggle: "modal", bs_target: "#exercisesModal" }) do %>
              +
            <% end %>
          </div>
          <div class="mt-4 training_schedules-item" id=<%= "block-exercises-#{day}" %>>
            <%= schedule_subform.hidden_field :week_day, name: "training_plan[training_schedules][][week_day]", value: day %>
            <%= schedule_subform.hidden_field :exercise_names, name: "training_plan[training_schedules][][exercise_names]", id: "exercises-list-names-#{day}", value: @schedule_exercises[day]&.to_s.presence || [] %>
            <% if @training_plan.training_schedules.exists?(week_day: day) %>
              <% @schedule_exercises[day].each do |name| %>
                <div class="exercise-card">
                  <%= content_tag(
                    :div, 
                    class: ["exercise-name"],
                    data: { day: "#{day}", name: "#{name}", url: "#{Exercise.find_by(name: name).img_url}" }) do %>
                    <%= name %>
                  <% end %>
                  <div><%= image_tag("#{Exercise.find_by(name: name).img_url}", { style: "width: 200px; height: 150px" })%></div>
                </div>
              <% end %>
            <% else %>
              <span id=<%= "no-exercises-#{day}" %> class="col-md-12 mb-4 without-exercises">No exercises today.</span>
            <% end %>
          </div>
        </li>  
      <% end %>
    <% end %>  
  <%= form.submit 'Save', class: 'btn btn-main training-plan-submit' %>
  </ul>    
<% end %>