<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="signin-box">
    <h2 class="login-title">Sign in</h2>
    <div class="form-group">
      <%= f.label :email %><br />
      <%= f.email_field :email, class: "form-control", autofocus: true, autocomplete: "email", placeholder: "Enter email" %>
    </div>

    <div class="form-group">
      <%= f.label :password %><br />
      <%= f.password_field :password, class: "form-control", autocomplete: "current-password", placeholder: "Password" %>
    </div>
    <%= f.submit "Log in", class: "btn btn-main" %>
  </div>  
<% end %>
