<div class="accordion container-fluid mt-4" id="accordionExercises">
  <% @exercises_categories.each_with_index do |category, index| %>
      <div class="exercise-category accordion-item">
        <h2 class="accordion-header exercise-category-header" id="heading-<%= index %>">
          <button class="accordion-button exercise-category-header" type="button" data-bs-toggle="collapse" data-bs-target="#category-<%= index %>" aria-expanded="true" aria-controls="category-<%= index %>">
            <%= category.name.upcase %>
          </button>
        </h2>
        <div id="category-<%= index %>" class="accordion-collapse collapse <%= index.zero? ? 'show': '' %>" aria-labelledby="heading-<%= index %>" data-bs-parent="#accordionExercises">
          <div class="exercises-in-category accordion-body">
            <% cache category do %>
              <% category.exercises.each do |exercise| %>
                <div class="exercise-card">
                  <div class="exercise-name <%= current_user.admin? ? 'exercise-name-admin' : 'exercise-name-athletes' %>">
                    <% if defined?(with_checkbox) && with_checkbox %>
                      <%= check_box_tag(
                        "exercise-#{exercise.name.downcase.gsub(' ', '-')}", 
                        'yes', 
                        false,
                        name: 'exercise-checkbox',
                        class: 'form-check-input',
                        data: { action: 'click->exercises#changeCheckExercise' }) %>
                    <% end %>    
                    <%= content_tag(
                      :span,
                      id: "img-url-#{exercise.name.downcase.gsub(' ', '-')}",
                      data: { url: "#{exercise.img_url}" }) do %>
                      <%= exercise.name %>
                    <% end %>
                    <% if can? :manage, Exercise %>
                      <div class="exercise-actions">
                        <%= link_to edit_exercise_path(exercise) do %>
                          <i class="bi bi-pencil-square"></i>
                        <% end %>
                        <%= link_to exercise_path(exercise), data: { turbo_method: :delete, turbo_confirm: 'Are you sure do you want delete exercise?' } do %>
                          <i class="bi bi-trash-fill"></i>
                        <% end %>
                      </div>  
                    <% end %>
                  </div>
                  <div><%= image_tag("#{exercise.img_url}", { style: "width: 250px; height: 175px" })%></div>
                </div>
              <% end %>
            <% end %>  
          </div> 
        </div>
      </div>
  <% end %>
</div>