<div class="accordion accordion-flush exercise-list" id="exercise-list">
  <% @exercises_categories.each_with_index do |category, index| %>
    <div class="accordion-item exercise-category category-body-color">
      <h2 class="accordion-header category-title">
        <button class="accordion-button category-button category-header-color" type="button" data-bs-toggle="collapse" data-bs-target='#collapse<%="#{index}"%>' aria-expanded="true" aria-controls='#collapse<%="#{index}"%>'>
          <span class="category-name"><%= category.name %></span>
        </button>
      </h2>
      <div id='collapse<%="#{index}"%>' class="accordion-collapse collapse">
        <div class="accordion-body category-exercises">
          <% @exercises.where(exercise_category_id: category.id).each do |exercise| %>
            <div class="exercise-card">
              <div class="exercise-name"><%= exercise.name %></div>
              <div><%= image_tag("#{exercise.img_url}", { style: "width: 15vw; height: 15vh" })%></div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>