<div class="container-fluid">
  <% @exercises_categories.each_with_index do |category, index| %>
      <div class="row exercise-category category-body-color">
        <span class="col-md-12 category-name"><%= category.name %></span>
        <div class="col-md-12 exercises-in-category">
          <% @exercises.where(exercise_category_id: category.id).each do |exercise| %>
            <div class="exercise-card">
              <div class="exercise-name">
                <%= check_box_tag(
                  "exercise-#{exercise.name.downcase.gsub(' ', '-')}", 
                  'yes', 
                  false,
                  name: 'exercise-checkbox',
                  data: { action: 'click->exercises#changeCheckExercise' }) %>
                <%= content_tag(
                  :span,
                  id: "img-url-#{exercise.name.downcase.gsub(' ', '-')}",
                  data: { url: "#{exercise.img_url}" }) do %>
                  <%= exercise.name %>
                <% end %>
              </div>
              <div><%= image_tag("#{exercise.img_url}", { style: "width: 15vw; height: 15vh" })%></div>
            </div>
          <% end %>
        </div>
      </div>
  <% end %>
</div>